# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.pyc

# Banco de dados
*.db

# Banco inicial da aplicação
!database/monitor.db

# Logs
logs/
*.log

# Configuração privada
config/config.yaml

# Arquivos HTML de análise
*.html

# Não ignorar os templates do Flask
!web/templates/
!web/templates/*.html

# Scripts de teste
teste_*.py
analisar_*.py
descobrir_*.py
capturar_*.py

# Arquivos auxiliares locais
app/*backup*.py
app/email_alerta.py
corrigir_datas.py
procurar_links_docarmo.py

# Backups locais do banco
backup/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Arquivos temporários de manutenção
notepad*
corrigir_banco.py
limpar_banco.py
ver_*.py
teste_email.py